.content__link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .4s ease-in, color .4s ease-in;
  color: rgba(0, 0, 0, 0);
  font-size: 20px;
  line-height: 250px;
}

.content__link:hover {
  background-color: rgba(0, 0, 0, .6);
  color:rgba(255, 255, 255, 1);
}

@media screen and (min-width: 400px) and (max-width: 580px) {
  .content__link {
    line-height: 350px;
  }
}