.content__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: max-content;
  gap: 50px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .content__list {
    gap: 30px;
  }
}

@media screen and (min-width:400px) and (max-width: 580px) {
  .content__list {
    grid-template-columns: 350px;
    grid-template-rows: 350px;
  }
}

@media screen and (max-width: 320px) {
  .content__list {
    grid-template-columns: 250px;
    grid-template-rows: 250px;
  }
}

.content__list_position_project {
  grid-template-columns: repeat(auto-fit, 125px);
}