.content {
  position: relative;
  height: 100%;
  padding-left: 220px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .content {
    padding-left: 25px;
    padding-right: 25px;
  }
}