.popup_is-opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 1401px) {
  .popup_is-opened {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .popup_is-opened {
    display: none;
  }
}