.popup__close-button {
  width: 25px;
  height: 25px;
  background-image: url('../../../images/Close.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  transition: opacity .3s linear;
  position: absolute;
  top: -30px;
  right: -30px;
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .popup__close-button {
    width: 15px;
    height: 15px;
  }
}