.menu-button {
  display: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: fixed;
  top: 15px;
  left: 30px;
  cursor: pointer;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .menu-button {
    display: block;
  }
}
